*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(21 23 30);
}

@font-face {
    font-family: ObjectSans;
    src: url(../Font/ObjectSans-Bold.woff);
}

@font-face {
    font-family: NotoSans;
    src: url(../Font/NotoSans-Regular.ttf);
}

@font-face {
    font-family: NotoSans-Bold;
    src: url(../Font/NotoSans-Bold.ttf);
}